.mainCartList{
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;
    transform: 'translate(-50%, -50%)';
    position: relative;
}

.cartImage{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.cartName{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.cartCloseButton{
    float:right;
    border-radius: 5px;
    height: 25px;
    width: 20px;
    padding-right: 5px;
    background-color: rgb(207, 68, 68);
}
.title-price-quantity{
    flex: 0.5;
    align-items: center;
}
.para{
    flex: 0.5;
    padding-right: 50px;
    border-bottom: 1px dashed black;
    font-weight: bold;
    align-items: center;
}
.plusButton{

    background-color: lightgreen;
    margin-right: 20px;
    border-radius: 6px;
    font-size: large;

}
.minusButton{
    background-color: lightsalmon;
    margin-right: 20px;
    border-radius: 6px;
    font-size: large;
}
.removeButton{
    background-color: rgb(233, 75, 75);
    height: 30px;
    border-radius: 5px;
    color: beige;
    font-size: large;
}

.para-quantity{
    flex: 0.5;
    padding-right: 100px;
    border-bottom: 1px dashed black;
    font-weight: bold;
}
.totalcost{
    float: right;
    font-size: large;
    color: black;
    font-weight: bold;
    padding-right: 25px;
    padding-bottom:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.purchaseButton{
    border: 3px solid skyblue;
    padding: 10px;
    font-size: larger;  
    background-color: skyblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    align-items: center;
    border-radius: 15px;
}