.header {
  background-color: black;
  height: 2.5rem;
  position:fixed;
  width: 100%;
  top: 0;
  }

.navbutton{
  text-align: center;
  padding-left: 30px;
  border: 5px solid black;
  
}
.navbutton__section{
  padding-right: 10px;
  padding-left: 40px;
  font-size: 18px;
  background-color: black;
  color: azure;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.cartbutton{
    float: right;
    border: 2px solid rgb(35, 128, 177);
    border-radius: 10px;
    font-size: large;
    background-color: black;
    color: azure;
    margin-right: 20px;
}
.cartcount{
  align-items:flex-end;
  float: right;
  padding-left: 10px;
  color: aqua;
}